mixin bwDoubleHeadline(title1, subheading1, title2, subheading2)
    .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
        .bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
            .my-3.py-3
                h2.display-5= title1
                p.lead= subheading1
            .bg-light.box-shadow.mx-auto(style='width: 80%; height: 300px; border-radius: 21px 21px 0 0;')
        .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
            .my-3.p-3
                h2.display-5= title2
                p.lead= subheading2
            .bg-dark.box-shadow.mx-auto(style='width: 80%; height: 300px; border-radius: 21px 21px 0 0;')