mixin card
    #card
        .col-12.col-md-4
            .card(style='width: 18rem;')
                img.card-img-top(src='%picture%', alt='Card image cap')
                .card-body
                    h5.card-title %title%
                    p.card-text %abstract%
                    p.card-text %theme%
                    a.btn.btn-primary(href='#') %btnText%