mixin navbar
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='/') PAPYRO
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        | Home
                        span.sr-only (home)
                li.nav-item
                    a.nav-link(href='/ourbooks') Our books
                li.nav-item
                    a.nav-link(href="/events") Events
                li.nav-item
                    a.nav-link(href="/authors") Authors
                li.nav-item
                    a.nav-link(href="/ordering") Ordering and Shipping
                li.nav-item
                    a.nav-link(href="/contactus") Contact Us
            a#cartButton.button.btn.btn-outline-light.my-2.login-show(href='/cart') Cart
            a#signinButton.button.btn.btn-outline-light.my-2.login-hide(href='/signin') Sign in
            a#signoutButton.button.btn.btn-outline-light.my-2.login-show(href="/") Sign out
            a#registerButton.button.btn.btn-outline-light.my-2.login-hide(href='/register') Register
