@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import "variables";

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  padding-top: 56px;
  padding-bottom: 3rem;
  color: #5a5a5a;
  @media (min-width:@md){
    padding-top: 70px;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

@media (min-width: 768px) {
  nav .btn {
    margin-right: .5rem;
    margin-left: .5rem;
  }
}

.login-hide {
  display: none;
}

.login-show {
  display: none;
}