extends layout

block head
    link(rel='stylesheet', href='/assets/css/carousel.css')
    link(rel='stylesheet', href='/assets/css/authors.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .opaque-overlay
            .carousel-item.active
                img.first-slide(src="https://images.unsplash.com/photo-1455390582262-044cdead277a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80", alt="An old pen")
                .container
                    .carousel-caption
                        h1#name
                        p
                            | Discover everything about your favourite author!
block content
    .container
        h1.title.my-4 Biography
        .row
            .col-md-6.col-lg-3
                img.w-100.mb-3#picture(src="", alt="")
            .col-md-6.col-lg-9
                p#bio
        .featurette-divider.col-12
        .row
            h2.col-12.title Written Books
            .row
                .col-sm-6.col-md-3#books
    #book.d-none
        a.btn.btn-info(href="/ourbooks/%id%") %title%

append js
    script(src="/assets/js/author.js")