extends layout

block head
    link(rel='stylesheet', href='/assets/css/events.css')

block content
    .container
        h1.title Events
        .form-check
            input#checkThisMonth.form-check-input(type="checkbox")
            label.form-check-label(for="checkThisMonth") Only show events for this month
        .row#events
    #event.d-none
        .col-sm-6.col-md-4.col-lg-3
            .card.w-100(data-eventId="%event-id%")
                img.card-img-top(src="%image%" alt="")
                .card-body
                    h5.card-title %bookName%
                    b Date:
                    p.card-text %date%
                    b Location:
                    p.card-text %location%
                    a.btn.btn-primary(href="%bookId%") Show book details

append js
    script(src="/assets/js/events.js")