extends layout
include mixin/textcoloumn
include  mixin/featuretteleft
include  mixin/featuretteright

block head
    link(rel='stylesheet', href='assets/css/carousel.css')
    link(rel='stylesheet', href='assets/css/index.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner
            .carousel-item.active
                img.first-slide(src="https://images.unsplash.com/photo-1495741545814-2d7f4d75ea09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80", alt="Library")
                .container
                    .carousel-caption
                        h1 Papyro
                        p
                            | Your library is your portrait.
                        p
                            a.btn.btn-lg.btn-primary(href="/ourbooks", role='button') Our books
            .carousel-item
                img.second-slide(src="https://images.unsplash.com/photo-1473163928189-364b2c4e1135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="A map")
                .container
                    .carousel-caption
                        h1.display-4 Events
                        p
                            | Meet your favourite authors at the presentation events of their books
                        p
                            a.btn.btn-lg.btn-primary(href="/events", role='button') Show Events
            .carousel-item
                img.third-slide(src="https://images.unsplash.com/photo-1532795986-dbef1643a596?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80", alt="A discount")
                .container
                    .carousel-caption
                        h1.display-4 Authors
                        p
                            | Discover our 5-stars writers and their amazing books
                        p
                            a.btn.btn-lg.btn-primary(href="/authors", role='button') Show Authors
        a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

block content
    .container.marketing
        .row
            .col-lg-4
                +textcoloumn("Books reservation", "Join our community to be enabled to reserve up to 5 books online. Pick up them later, when you have time to. Extra fees can be applied if you don't give them back in 2 months.", "https://images.unsplash.com/photo-1530221704169-4f8289975f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", "A man reading his book", "/ourbooks", "Our books")
            .col-lg-4
                +textcoloumn("Get inspired", "Browse through our big catalog of books and get inspired by centuries of interviews, plots and literary genres. Let us advise you on our week favourite reading and more! Only here, at Papyro.", "https://images.unsplash.com/photo-1512099053734-e6767b535838?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1228&q=80", "Photo trough a lens", "/ourbooks", "Our favorite readings")
            .col-lg-4
                +textcoloumn("Visit us in Milan", "Stop by to visit our newly renovated space: an atrium to enjoy the sun, more public meeting spaces, new printers and copiers, a great new children’s space, and new offerings in our library.", "https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", "A person holding pencil", "https://goo.gl/maps/5H8A6mVGBqPybkhg8", "Contact us")
        hr.featurette-divider
        +featuretteleft("Looking for a particular writer? ", "Here you are.", "The pen is truly mightier than the sword, and if you’re a book enthusiast you know that to be true. Some of history’s most influential people were authors, writing the most important literature and political works of all time. Writers have shaped human history, capturing some of the most important historical events and reflecting the culture of a changing world around us in a profound way. Browse our author list and choose your favourite.", "https://i.imgur.com/fLOgg9M.jpg", "Man sitting on table typing on typewriter")
        hr.featurette-divider
        +featuretteright("Book presentation event. ", "Where books are born.", "Do you want to join us for next book presentation events? What about meeting you favourite authors? You are a step apart from getting your book signed! Mark the ideas in a book as important from all the books you own, celebrate a person you have a relationship with by giving a signed book or simply express gratitude and mark solidarity to the author directly. In any case, you can't miss our awesome events! Check them out now!", "https://i.imgur.com/t1Cn3fM.jpg", "Woman sitting on the sofa reading a book")
        hr.featurette-divider
        +featuretteleft("Can't you pick up your reserved book? ", "Don't worry.", "We offer you a quick and reliable professional service worldwide​ which ​entails the best purchase prices, information and safe deliveries​.​ Our many customers all around the world appreciate this service, and we hope you will do so too! Reserve your book as you'd normally do, then contact us and tell us your exigencies! We'll answer you back in 24h. Visit our ordering and shipping information page for more!", "https://i.imgur.com/mvOUw6y.jpg", "Book shelf full of old books")
