extends layout
include mixin/card
include mixin/headline

block headline
    +headline("Benvenuti", "Questa e una libreria bla bla", "clickme", "#")

block content
    .container
        .row
            h1.title.m-auto Bootstrap cards here!
        #cards-container.row
    .d-none
        +card

append js
    script(src='/index.js')

