extends layout
include mixin/navbar
include mixin/card

block content
    .container
        .row
            h1.title.m-auto Bootstrap cards here!
        #cards-container.row
    .d-none
        +card

append js
    script(src='/index.js')

