extends layout
include mixin/headline
include mixin/textcoloumn
include  mixin/featuretteleft
include  mixin/featuretteright

block head
    link(rel='stylesheet', href='/assets/css/carousel.css')
    link(rel='stylesheet', href='/assets/css/index.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .opaque-overlay
            .carousel-item.active
                img.first-slide(src="https://images.unsplash.com/photo-1473452784071-a5f531af184f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="A binnacle in front of the sea")
                .container
                    .carousel-caption
                        h1 Ordering and Shipping Information
                        p
                            | Can't you pick up your reserved book? Don't worry.
                        p
                            a.btn.btn-lg.btn-primary(href="/cart", role='button') Your shopping cart

block content
    .container.marketing
        +featuretteleft("Not at home? ", "Shipping information.", "We deliver to the whole world and we offer different shipping options to meet your needs. In order to ensure you a hassle free shopping experience, for selected countries, we are now including the Customs Duties in the final prices without any price change. No more unexpected charges upon delivery, only delight and ease at your doorstep! From time to time, we run free shipping promotions.", "https://i.imgur.com/dLXEsLP.jpg", "A cargo ship and a plane carrying containers")
        hr.featurette-divider
        +featuretteright("Shipping prices. ", "For those who cares about money.", "Shipping rates vary based upon shipment type and destination then your rate will be automatically calculated at checkout. We aim to dispatch all orders within 24 hours (orders accepted before 12:00 am CET will be dispatched the same day). For those living in Italy, we ensure a 3-Working-Days delivery for as little as € 8,00. If you live outside Italy, we'll charge € 13.00 with an estimated delivery time of 10-12 Working Days.", "https://i.imgur.com/HTycx2u.jpg", "A man is using his VISA card on a POS")
