extends layout
include mixin/card
include mixin/headline
include mixin/filters

block head
    link(rel='stylesheet', href='/assets/css/carousel.css')
    link(rel='stylesheet', href='/assets/css/index.css')
    link(rel='stylesheet', href='/assets/css/ourbooks.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .opaque-overlay
            .carousel-item.active
                img.first-slide(src="https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="Some old books in a book shelf")
                .container
                    .carousel-caption
                        h1 Our books
                        p
                            | Browse through our big catalog of books and get inspired!
                        p
                            a.btn.btn-lg.btn-primary(href="/cart", role='button') Go to shopping cart

block content
    .album
        .container
            +filters
            h3.pb-3.mb-4.ce.border-bottom
                | Here you are our books. Browse them but take your time. You need to relax.
            #cards-container.d-flex.flex-wrap.justify-content-center.row
                p#noBooks No book matches your criteria
    .d-none
        +card

append js
    script(type="module" src='assets/js/ourbooks.js')
