extends layout
include mixin/card

block head
    link(rel='stylesheet', href='/assets/css/ourbooks.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .carousel-item.active

                .container
                    .carousel-caption

block content
    .container.mt-5
        .row
            .col-md-6.col-lg-4
                img.w-100#backgroundImage.mb-3(src="", alt="")
                a#addToCartBtn.btn.btn-primary.login-show.w-100.d-block(href="#") Add to Cart
            .col-md-6.col-lg-8
                h1#bookTitle.title
                p#abstract
                h2.title Authors
                .row#authors
        h2.title.mt-3 Events
        .row#events
        h2.title.mt-3 Interview
        .row
            .col-12
                p#interview
    .container
        hr.my-5
        h1.title.mb-3 Similar books
        .album
            #cards-container.d-flex.flex-wrap.justify-content-center
    +card.d-none
    #author.d-none
        .col-sm-6.col-md-3
            a.btn.btn-info.w-100(href="/authors/%authorId%") %authorName%
    #event.d-none
        .col-sm-6.col-md-4.col-lg-3.text-center.border.p-4
            p
                b= "Date: "
                | %eventDate%
            p.mb-0
                b= "Location: "
                | %eventLocation%

append js
    script(type="module" src="/assets/js/singleBook.js")

