extends layout
include mixin/card

block head
    link(rel='stylesheet', href='/assets/css/ourbooks.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .carousel-item.active

                .container
                    .carousel-caption

block content
    .container.mt-5
        .row
            .col-md-6.col-lg-4
                img.w-100#backgroundImage(src="", alt="")
            .col-md-6.col-lg-8
                h1#bookTitle.title
                p#abstract
                h2.title Interview
                p#interview
                a#addToCartBtn.btn.btn-primary.login-show(href="#") Add to Cart

    .container
        hr.my-5
        h1.title.mb-3 Similar books
        .album
            #cards-container.d-flex.flex-wrap.justify-content-center
    +card.d-none

append js
    script(type="module" src="/assets/js/singleBook.js")

