extends layout
include mixin/card

block head
    link(rel='stylesheet', href='/assets/css/ourbooks.css')
    link(rel='stylesheet', href='/assets/css/carousel.css')
    link(rel='stylesheet', href='/assets/css/authors.css')

block headline
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
        .carousel-inner
            .opaque-overlay
            .carousel-item.active
                img.first-slide(src="https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80", alt="An old pen")
                .container
                    .carousel-caption
                        h1#name
                        p
                            | Discover everything about your favourite book!

block content
    .container.mt-5
        h1.title.my-4 Book's information
        .row
            .col-md-6.col-lg-4
                img.w-100#backgroundImage.mb-3(src="", alt="")
                a#addToCartBtn.btn.btn-primary.login-show.w-100.d-block(href="#") Add to Cart
            .col-md-6.col-lg-8
                h2.title Authors
                .row#authors
                h2.title.mt-3 Genres & Themes
                p#genres
                p#themes
                h2.title.mt-3 Events
                .row#events
        h1#bookTitle.title
        p#abstract
        h2.title.mt-3 Interview
        .row
            .col-12
                p#interview
    .container
        hr.my-5
        h1.title.mb-3 Similar books
        .album
            #cards-container.d-flex.flex-wrap.justify-content-center
    .container.mt-5
        h1 Reviews
        #reviews
            p#noReviews No reviews for this book yet
    +card.d-none
    #author.d-none
        .col-sm-6.col-xl-3
            a.btn.btn-info.w-100.mb-2(href="/authors/%authorId%") %authorName%
    #event.d-none
        .col-sm-6.col-lg-4.col-xl-3.text-center.border.p-4
            p
                b= "Date: "
                | %eventDate%
            p.mb-0
                b= "Location: "
                | %eventLocation%
    #review.d-none
        .mb-4
            h4 %name%
            p %comment%

append js
    script(type="module" src="/assets/js/singleBook.js")